{% extends 'dashboard_layout.html' %}

{% block title %}
Create Contact
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="container center_div">
        <form class="well form-horizontal" action="/createContact" method="post" id="contact_form">
            <fieldset>
                <!-- Form Name -->
                <legend>
                    <center><h2><b>Create New Personal Contact</b></h2></center>
                </legend>
                <br>

                <!-- Text input-->

                <div class="form-group">
                    <label class="col-md-4 control-label">First Name</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input name="firstname" placeholder="First Name" class="form-control" type="text">
                        </div>
                    </div>
                </div>

                <!-- Text input-->

                <div class="form-group">
                    <label class="col-md-4 control-label">Last Name</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input name="lastname" placeholder="Last Name" class="form-control" type="text">
                        </div>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label">E-Mail</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            <input name="email" placeholder="E-Mail Address" class="form-control"
                                   type="text">
                        </div>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label">Company Name</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input name="companyname" placeholder="Company Name" class="form-control"
                                   type="text">
                        </div>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label">Business HomePage</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-address-book"></i></span>
                            <input name="businesshomepage" placeholder="Business HomePage" class="form-control"
                                   type="text">
                        </div>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label">Department</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input name="department" placeholder="Department" class="form-control"
                                   type="text">
                        </div>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label">Office Location</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-address-book"></i></span>
                            <input name="officeLocation" placeholder="Office Location" class="form-control"
                                   type="text">
                        </div>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label">Contact No.</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                            <input name="mobilenumber" placeholder="(+91)" class="form-control" type="text">
                        </div>
                    </div>
                </div>
                <center>
                    {% if errors %}
                    <p class="error" style="color:red;">{{errors}}</p>
                    {% endif %}
                    <button type="submit" class="btn btn-success">Submit</button>
                    <button  class="btn btn-outline-success">Contacts</button>
                </center>

            </fieldset>
        </form>
    </div>
</div><!-- /.container -->
{% endblock %}

