/*Form*/
.center {
  margin: 0 auto;
  width: 100%;
}

form {
  margin: 0 auto;
  width: 600px; /*find your value*/
}

button{
    text-align: left;
}

/*Logo*/
#logo{
	position:fixed;
	top:0;
	left:0;
}

img{
    margin-left:10px;
	height: 40%;
    width: 200px;
}

/*Sidebar*/
.sidenav {
  margin-top:55px;
  height: 100%;
  width: 251px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

/*Main Content*/
.main {
  margin-left: 250px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 50px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*Navbar*/
nav{
    background-color: #111;
    margin-left: 250px;
}
