{% extends 'dashboard_layout.html' %}

{% block title %}
Auto Reply Email
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="container center_div">
        <form class="well form-horizontal" action="/autoreply" method="post" id="auto_reply_form">
            <fieldset>
                <!-- Form Name -->
                <legend>
                    <center><h2><b>Set Auto Reply</b></h2></center>
                </legend>
                <br>

                <div class="form-group">
                    <label class="col-md-4 control-label">Select a Option</label>
                    <div class="col-md-4 selectContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                            <select id="selectBox" onchange="changeFunc();" name="option" class="form-control selectpicker">
                                <option value="Scheduled" selected>Scheduled</option>
                                <option value="Disabled">Disabled</option>
                                <option value="Enabled">Always Enabled</option>
                            </select>
                        </div>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group" id="reply1">
                    <label class="col-md-4 control-label">Subject</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            <input name="reply1" placeholder="Enter Subject" class="form-control"
                                   type="text" autocomplete="off">
                        </div>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group" id="reply2">
                    <label class="col-md-4 control-label">Message</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            <input name="reply2" placeholder="Enter Message" class="form-control"
                                   type="text" autocomplete="off">
                        </div>
                    </div>
                </div>

                <div class="form-group" id="1">
                    <label class="col-md-4 control-label">Start Time</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                            <input name="starttime" id="datetimepicker" placeholder="Select Start time/date"
                                   class="form-control"
                                   type="text" autocomplete="off">
                        </div>
                    </div>
                </div>

                <div class="form-group" id="2">
                    <label class="col-md-4 control-label">End Time</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                            <input name="endtime" id="datetimepicker2" placeholder="Select End time/date"
                                   class="form-control"
                                   type="text" autocomplete="off">
                        </div>
                    </div>
                </div>

                <center>
                    {% if errors %}
                    <p class="error" style="color:red;">{{errors}}</p>
                    {% endif %}
                    {% if data %}
                    <p class="error" style="color:green;">{{data}}</p>
                    {% endif %}
                    <button type="submit" class="btn btn-success">Submit</button>
                </center>
            </fieldset>
        </form>
    </div>
</div><!-- /.container -->
<script type="text/javascript" src="../static/js/mail.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.js"></script>
<script>
var today = new Date();
var dd = today.getDate();
var mm = today.getMonth()+1;
var yyyy = today.getFullYear();
if(dd<10) { dd='0'+dd; }
if(mm<10) { mm='0'+mm; }

today = yyyy+'-'+mm+'-'+dd;
$('#datetimepicker').datetimepicker({
    format:'Y-m-d H:i',
    minDate:today,
});
$('#datetimepicker2').datetimepicker({
    format:'Y-m-d H:i',
    minDate:today,
});</script>
{% endblock %}

