{% extends 'dashboard_layout.html' %}

{% block title %}
List Contact
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="container center_div">

        <!-- The Modal -->
        {% set c = namespace(value=0) %}
        {%for i in data["value"]%}
        <div id="myModal_{{c.value}}" class="myModal modal">
            <!-- Pop-up content -->
            <div class="modal-content">
                <span id="close_tag_{{c.value}}" class="close_tag text-right">&times;</span>
                <table class="table">
                    <tbody>
                    <tr>
                        <th scope="col">Firstname:</th>
                        <td>{{i["givenName"]}}</td>
                    </tr>
                    <tr>
                        <th scope="col">Lastname:</th>
                        <td>{{i["surname"]}}</td>
                    </tr>
                    <tr>
                        <th scope="col">Email:</th>
                        <td>{{i["emailAddresses"][0]["address"]}}</td>
                    </tr>
                    <tr>
                        <th scope="col">Company Name:</th>
                        <td>{{i["companyName"]}}</td>
                    </tr>
                    <tr>
                        <th scope="col">Home Page Link:</th>
                        <td>{{i["businessHomePage"]}}</td>
                    </tr>
                    <tr>
                        <th scope="col">Department:</th>
                        <td>{{i["department"]}}</td>
                    </tr>
                    <tr>
                        <th scope="col">Office Location:</th>
                        <td>{{i["officeLocation"]}}</td>
                    </tr>
                    <tr>
                        <th scope="col">Contact No:</th>
                        <td>{{i["businessPhones"][0]}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {% set c.value = c.value + 1 %}
        {%endfor%}
        <!-- Pop-up content ends!-->

        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">No.</th>
                <th scope="col">Firstname</th>
                <th scope="col">Surname</th>
                <th scope="col">Email</th>
                <th scope="col">Mobile No.</th>
                <th scope="col">View</th>
            </tr>
            </thead>
            <tbody>
            {% set count = namespace(value=1) %}
            {%for i in data["value"]%}
            <tr>
                <th scope="row">{{ count.value }}</th>
                <td>{{i["givenName"]}}</td>
                <td>{{i["surname"]}}</td>
                <td>{{i["emailAddresses"][0]["address"]}}</td>
                <td>{{i["businessPhones"][0]}}</td>
                <td>
                    <button id="myBtn_{{count.value}}" class="myBtn btn-success rounded-pill" onclick="show_modal(this)">View</button>
                </td>
                {% set count.value = count.value + 1 %}
                {%endfor%}
            </tr>
            </tbody>
        </table>

    </div>
</div><!-- /.container -->
<script type="text/javascript" src="../static/js/dashboard.js"></script>
{% endblock %}