{% extends 'dashboard_layout.html' %}

{% block title %}
List Contact
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="container center_div">

        <!-- The Modal -->
        <div id="myModal" class="modal">
            <!-- Pop-up content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <p>{{data["value"][0]["givenName"]}}</p>
                <p>{{data["value"][0]["surname"]}}</p>
                <p>{{data["value"][0]["emailAddresses"][0]["address"]}}</p>
                <p>{{data["value"][0]["companyName"]}}</p>
                <p>{{data["value"][0]["businessHomePage"]}}</p>
                <p>{{data["value"][0]["department"]}}</p>
                <p>{{data["value"][0]["officeLocation"]}}</p>
                <p>{{data["value"][0]["businessPhones"][0]}}</p>
            </div>

        </div><!-- Pop-up content ends!-->

        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">No.</th>
                <th scope="col">Firstname</th>
                <th scope="col">Surname</th>
                <th scope="col">Email</th>
                <th scope="col">Mobile No.</th>
                <th scope="col">Preview</th>
            </tr>
            </thead>
            <tbody>
            {% set count = namespace(value=1) %}
            {%for i in data["value"]%}
            <tr>
                <th scope="row">{{ count.value }}</th>
                <td>{{i["givenName"]}}</td>
                <td>{{i["surname"]}}</td>
                <td>{{i["emailAddresses"][0]["address"]}}</td>
                <td>{{i["businessPhones"][0]}}</td>
                <td><button id="myBtn" class="btn-success rounded-pill">Preview</button></td>
                {% set count.value = count.value + 1 %}
                {%endfor%}
            </tr>
            </tbody>
        </table>

    </div>
</div><!-- /.container -->
<script type="text/javascript" src="../static/js/dashboard.js"></script>
{% endblock %}