{% extends 'dashboard_layout.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block navbar %}
    <div id="logo">
        <img src="{{url_for('static', filename='logo.png')}}" />
    </div>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="#">Dashboard</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link text_a" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Aboutus <span class="sr-only">(current)</span></a>
          </li>
            <li class="nav-item">
            <a class="nav-link float-right" href="#">Logout <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </nav>
{% endblock %}

{% block sub_body %}
<!-- Page content -->
<div class="main">
      <table class="center_table">
          <th>
            <tr style="color: green; ">
                <td>Firstname</td>
                <td>Surname</td>
                <td>Email</td>
                <td>Mobile No.</td>
            </tr>
          </th>
        {%for i in data["value"]%}
          <!-- table rows -->
            <tr>
                <td>{{i["givenName"]}}</td>
                <td>{{i["surname"]}}</td>
                <td>{{i["emailAddresses"][0]["address"]}}</td>
                <td>{{i["businessPhones"][0]}}</td>
        {%endfor%}
            </tr>
      </table>
</div>
{% endblock  %}