{% extends 'layout.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
    <title>{% block title %}{% endblock %}Signup</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block sub_body %}
<img class="wave" src="../static/img/wave.png">
	<div class="container">
		<div class="img">
			<img src="../static/img/bg.svg">
		</div>
		<div class="login-content">
			<form method = "POST", action="/signup">
                {{ form.hidden_tag() }}
				<h2 class="title">SignUp</h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		{{ form.firstname(placeholder="Firstname") }}
           		   </div>
           		</div>
				<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		{{ form.lastname(placeholder="Laststname") }}
           		   </div>
           		</div>
				<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		{% if form.username.errors %}
							{{ form.username(class="is-invalid",placeholder="Username") }}
							<div class="invalid-feedback">
								{% for error in form.username.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
							{% else %}
								{{ form.username(placeholder="Username") }}
						{% endif %}
           		   </div>
           		</div>
				<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		{% if form.email.errors %}
							{{ form.email(class="is-invalid", placeholder="Email") }}
							<div class="invalid-feedback">
								{% for error in form.email.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
							{% else %}
								{{ form.email(placeholder="Email") }}
						{% endif %}
           		   </div>
           		</div>
           		<div class="input-div one">
           		   <div class="i">
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
					   	{% if form.password.errors %}
							{{ form.password(class="is-invalid",placeholder="Password") }}
							<div class="invalid-feedback">
								{% for error in form.password.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
							{% else %}
								{{ form.password(placeholder="Password") }}
						{% endif %}
            	   </div>
            	</div>
				<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
					     {% if form.confirmpassword.errors %}
							{{ form.confirmpassword(class="is-invalid", placeholder="Confirm Password") }}
							<div class="invalid-feedback">
								{% for error in form.confirmpassword.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
							{% else %}
								{{ form.confirmpassword(placeholder="Confirm Password") }}
						 {% endif %}
           		   </div>
           		</div>
				{% if errors %}
					<p class="error" style="color:red;">{{errors}}</p>
				{% endif %}
				<input type="submit" class="btn" value="SignUp">
				<a href="/login">Have an account? Login</a>
            </form>
        </div>
    </div>
{% endblock %}